.title {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    border-bottom: 3px solid black;

    z-index: 101;
    background-color: rgb(240, 240, 240);
}

.title img {
    height: 80px;
}

.titleText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.titleName {
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 5px;
}

.titleAuthor {
    font-size: 20px;
    line-height: 20px;
}